<!DOCTYPE html>
<html>
    <head>Python and JavaScript</head>
    <script type="text/javascript" src="./jsFunctions.js">  
     
     
    </script> 
    <body>
        <div>
          <h1>A simple website</h1>
          <p>Hello.
            This is the beginning of a journey.
            Adding scripts in a separate js function file
            <form>  
              <input type="button" value="click" onclick="msgThanks()"/>  
            </form> 
          </p>
        </div>
        <p>A second paragraph
          
            <form>  
              <input type="button" value="Second Para" onclick="secondAlert()"/>  
            </form>
          </p>
      
    </body>
</html>