<!DOCTYPE html>
<html>
    <head>Python and JavaScript</head>
    <script type="text/javascript" src="jsFunctions.js">  
     
     
    </script> 
    <body>
        <div>
          <h1>A simple website</h1>
          <p>Hello.
            This is the beginning of a journey.
            Adding script to head
            <form>  
              <input type="button" value="click" onclick="msgThanks()"/>  
              </form> 
          </p>
        </div>
          <div onmouseover="this.style.backgroundColor='red'">
          <p>A second paragraph</p>
      </div>
    </body>
</html>